/* .anotherDayS,
.projectS{
    width: 100%;
} */
.anotherDayS{
    height: 30%;
    padding-top: 60px;
}
.projectS{
    height: 65%;
    position: relative;
}

.divide{
    width: 85%;
    border: 1px solid rgba(10, 10, 10, 0.2);
    margin: 20px auto;
}

/* another Section */
.anotherDayS > ul > li,
.projectList{
    width:90%;
    height:35px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    border-radius: 5px;
}

.days,
.days > span{
    padding-left: 10px;
}

.days > i {
    width:15px;
    height:15px;
}

.times {
    font-size: 14px;
}

.times > span{
    padding-right: 5px;
}

/* projectS Section */
.projectList{
    justify-content: space-between;
}

.projectList > span {
    width:70%;
    padding: 3px 0 0 30px;
}
.projectList .times {
    margin-left: 10px;
}

.bgcolor{
    width:10px;
    height:10px;
    border-radius: 100%;
    margin: 0 10px;
    position: absolute;
    z-index: -1;
}

/* add Project Btn */
.addProject{
    position: absolute;
    bottom: 1%;
    left: 5%;
    transform: translateX(-5%);
    width: 100%;
    height: 30px;
}

.addProject > * {
    padding: 7px;
}

.addProject button{
    width: 70%;
}

.addProject button::before {
    content: "+";
    font-size: 20px;
    padding: 0 10px;
}

@media screen and (min-width: 1600px) {
    .anotherDayS {
        height: 20%;
    }
    .projectS {
        height: 80%;
    }
    .addProject button{
        width: 80%;
    }
}